-- Aggiungi Serie C alla tabella categories
INSERT INTO public.categories (id, code, name, sort, active, created_at)
VALUES (
  gen_random_uuid(),
  'SERIE_C',
  'Serie C',
  3,
  true,
  now()
);

-- Verifica che sia stata aggiunta
SELECT * FROM public.categories WHERE code = 'SERIE_C';
