-- Query per vedere tutte le categorie esistenti
SELECT 
  id,
  code,
  name,
  sort,
  active,
  created_at
FROM public.categories 
ORDER BY sort, name;

-- Query per vedere anche le categorie usate nelle tasse
SELECT DISTINCT category 
FROM public.fees 
WHERE category IS NOT NULL 
ORDER BY category;

