-- VERIFICA INFORTUNI DI FEDERICO VIOLA

-- 1. Mostra la struttura della tabella injuries
SELECT 
    column_name,
    data_type,
    is_nullable,
    column_default
FROM information_schema.columns 
WHERE table_name = 'injuries' 
  AND table_schema = 'public'
ORDER BY ordinal_position;

-- 2. Trova Federico Viola nella tabella people
SELECT 
    id, 
    full_name, 
    given_name, 
    family_name,
    injured,
    injury_date,
    injury_duration_days
FROM people 
WHERE full_name ILIKE '%federico%viola%' 
   OR given_name ILIKE '%federico%' 
   OR family_name ILIKE '%viola%';

-- 3. Verifica se ha infortuni nella tabella injuries (con struttura corretta)
SELECT 
    i.*,
    p.full_name
FROM injuries i
JOIN people p ON p.id = i.person_id
WHERE p.full_name ILIKE '%federico%viola%' 
   OR p.given_name ILIKE '%federico%' 
   OR family_name ILIKE '%viola%';

-- 4. Verifica tutti gli infortuni attivi
SELECT 
    i.*,
    p.full_name
FROM injuries i
JOIN people p ON p.id = i.person_id
WHERE i.current_status = 'In corso' 
  AND i.is_closed = false
ORDER BY i.injury_date DESC;