-- Verifica configurazione U16
SELECT 
  c.id as category_id,
  c.name as category_name,
  c.code as category_code
FROM categories c 
WHERE c.code = 'U16';

-- Verifica training_locations U16
SELECT 
  tl.id,
  tl.weekday,
  tl.location,
  tl.start_time,
  tl.end_time
FROM training_locations tl
JOIN categories c ON tl.category_id = c.id
WHERE c.code = 'U16'
ORDER BY tl.weekday;

-- Verifica sessioni U16 esistenti
SELECT 
  s.id,
  s.session_date,
  s.location,
  s.start_time,
  s.end_time
FROM sessions s
JOIN categories c ON s.category_id = c.id
WHERE c.code = 'U16'
ORDER BY s.session_date;
