-- Cancella sessioni U18 sbagliate
DELETE FROM attendance 
WHERE session_id IN (
  SELECT s.id 
  FROM sessions s 
  JOIN categories c ON s.category_id = c.id 
  WHERE c.code = 'U18'
);

DELETE FROM sessions 
WHERE category_id IN (
  SELECT id FROM categories WHERE code = 'U18'
);

-- Verifica
SELECT COUNT(*) as sessioni_u18_rimanenti 
FROM sessions s 
JOIN categories c ON s.category_id = c.id 
WHERE c.code = 'U18';
