-- Creazione tabella injuries per test
CREATE TABLE IF NOT EXISTS injuries (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  person_id UUID REFERENCES people(id) ON DELETE CASCADE,
  injury_date DATE NOT NULL,
  duration_days INTEGER NOT NULL,
  current_status TEXT NOT NULL DEFAULT 'In corso',
  description TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Inserisci un infortunio di test per Gabriele Bulgari
INSERT INTO injuries (person_id, injury_date, duration_days, current_status, description)
SELECT 
  p.id,
  CURRENT_DATE - INTERVAL '5 days' as injury_date,
  10 as duration_days,
  'In corso' as current_status,
  'Infortunio di test' as description
FROM people p 
WHERE p.full_name = 'Gabriele Bulgari'
LIMIT 1;

-- Verifica l'inserimento
SELECT 
  i.*,
  p.full_name
FROM injuries i
JOIN people p ON p.id = i.person_id
WHERE p.full_name = 'Gabriele Bulgari';
